<div  class="container">
  <div class="row">
    <div class="col-12">
      <section class="my-5 text-center">
        <h1 class="display-1">404</h1>
        <h4 class="mb-4">Page not found</h4>
        <p class="mb-0"> The Page you are looking for doesn't exist or an other error eccured. </p>
        <p class="mb-4"> Go back, or ahead over to example.com to choose a new direction. </p>
        <a (click)="back()" role="button" class="btn btn-primary">Go back to the homepage</a>
      </section>
    </div>
  </div>
</div>
