<div class="container-fluid">
  <h1 class="h5 text-center py-2 mb-0">User profile</h1>
  <mat-spinner *ngIf="loadpage==true"></mat-spinner>
  <section *ngIf="loadpage==false">
    <div class="row">
      <div class="col-md-9 mb-4 mb-md-0">
        <div class="card mb-4">
          <div class="card-header py-3">
            <strong>Edit profile</strong>
          </div>
          <div class="card-body text-center">
            <form [formGroup]="infoUser" *ngIf="infoUser" (submit)="editInfoUser(infoUser)">
              <div class="row">
                <div class="col-md-6">
                  <mdb-form-control>
                    <input mdbValidate mdbInput type="text" id="form1" class="form-control" formControlName="displayName" required/>
                    <label mdbLabel class="form-label" for="form1">Name</label>
                    <mdb-error *ngIf="displayName?.invalid && (displayName?.dirty || displayName?.touched)">required</mdb-error>
                    <mdb-success *ngIf="displayName?.valid && (displayName?.dirty || displayName?.touched)"></mdb-success>
                  </mdb-form-control>
                </div>
                <div class="col-md-6">
                  <mdb-form-control>
                    <input mdbValidate mdbInput type="url" id="form2" [value]="dataUser.photoURL" class="form-control" formControlName="photoURL" required/>
                    <label mdbLabel class="form-label" for="form2">Photo Url</label>
                    <mdb-error *ngIf="photoURL?.invalid && (photoURL?.dirty || photoURL?.touched)">required</mdb-error>
                    <mdb-success *ngIf="photoURL?.valid && (photoURL?.dirty || photoURL?.touched)"></mdb-success>
                  </mdb-form-control>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mt-3 float-end">editar</button>
            </form>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header py-3">
            <strong>Edit Email</strong>
          </div>
          <div class="card-body text-center">
            <form [formGroup]="emailUser" *ngIf="emailUser" (submit)="editEmailUser(emailUser)">
              <div class="row">
                <div class="col-md-12">
                  <mdb-form-control>
                    <input mdbValidate mdbInput type="email" id="form3" class="form-control" formControlName="email" required/>
                    <label mdbLabel class="form-label" for="form3">Email</label>
                    <mdb-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">required</mdb-error>
                    <mdb-success *ngIf="email?.valid && (email?.dirty || email?.touched)"></mdb-success>
                  </mdb-form-control>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mt-3 float-end">editar</button>
            </form>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header py-3">
            <strong>Edit Password</strong>
          </div>
          <div class="card-body text-center">
            <form [formGroup]="passwordUser" *ngIf="passwordUser" (submit)="editPass(passwordUser)">
              <div class="row">
                <div class="col-md-12">
                  <mdb-form-control>
                    <input mdbValidate mdbInput type="password" id="form4" class="form-control" formControlName="password" required/>
                    <label mdbLabel class="form-label" for="form4">New Password</label>
                    <mdb-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">required</mdb-error>
                    <mdb-success *ngIf="password?.valid && (password?.dirty || password?.touched)"></mdb-success>
                  </mdb-form-control>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mt-3 float-end">editar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="card">
          <div class="card-body text-center" *ngIf="dataUser">
            <img [src]="dataUser.photoURL" alt="avatar" class="rounded-circle shadow-2 mb-3" style="width: 142px;">
            <p class="mb-1"><strong>{{dataUser.displayName}}</strong></p>
            <p class="mb-2"><small>{{dataUser.email}}</small></p>
            <p class="mb-2"><small>{{dataUser.phoneNumber}}</small></p>
            <p class="mb-2"><small>{{dataUser.emailVerified}}</small></p>
            <p class="mb-2"><small>{{dataUser.uid}}</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-9 mb-4 mb-md-0">

      </div>
    </div>
  </section>
</div>
